<?xml version="1.0" ?>
<testsuites>
    <properties>
        {%- for prop_name, prop_value in properties.get(None, {}).items() %}
        <property name="{{ prop_name }}" value="{{ prop_value }}"/>
        {%- endfor %}
    </properties>
    <testsuite name="{{ reportsender.testplan.name }}" tests="{{ testcases|length - exclude|length }}">
        {%- for tc_name, crcs_list in testcases.items() %}
        {%- set xunitResult = reportsender.xunitResultOf(crcs_list) %}
        <testcase name="{{ tc_name }}" classname="{{ reportsender.testplan.name }}">
            <properties>
                {%- for prop_name, prop_value in properties.get(tc_name, {}).items() %}
                <property name="{{ prop_name }}" value="{{ prop_value }}"/>
                {%- endfor %}
            </properties>
            <system-out>
            {{ crcs_list|results_string }}
            </system-out>
            {%- if xunitResult == 'skipped' %}
            <skipped message="{{ crcs_list|results_string }}" type="skipped" />
            {%- elif xunitResult == 'failure' %}
            <failure message="{{ crcs_list|results_string }}" type="failure" />
            {%- elif xunitResult == 'error' %}
            <error message="{{ crcs_list|results_string }}" type="error" />
            {%- endif %}
        </testcase>
        {%- endfor %}
    </testsuite>
</testsuites>
