+------------------------------------------------------------------------------+
| {{ tp.name|setlen(76) }} |
+==============================================================================+
{%- for crc in crcs %}
| {{ crc.testcase.name|setlen(76) }} |
+----------------------------+-------------------+-----------------------------|
| {{ crc.configuration.values()|join(', ')|setlen(26) }} | {{ crc.result.result|setlen(17) }} | {{ crc.result.state|setlen(27) }} |
+----------------------------+-------------------+-----------------------------+
| {{ crc.workflow.groupDisplayStatus(crc.id)|setlen(76) }} |
+==============================================================================+
{%- endfor %}